body {
    padding-bottom: 4.5rem;
    font-family: Ubuntu, Helvetica, sans-serif;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.text-faded {
    color: #d4d4d4;
    font-size: .75rem;
}

.active-with-caret {
    border-bottom: 2px solid #d4d4d4;
}

.avatar img:last-child {
    display:none
}

.avatar:hover img:first-child {
    display:none
}

.avatar:hover img:last-child {
    display:inline-block
}

li, p {
    font-weight: 300;
}