---
layout: default
notes-marker: active-with-caret
---
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-lg-8 col-sm-12">
            <p class="display-5 mb-5">
                all
                {% for tag in site.tags %}
                    | <a href="/tags/{{ tag[0] }}">{{ tag[0] }}</a>
                {% endfor %}
            </p>

            <ul>
                {% for post in site.posts %}
                <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% if site.posts.size == 0 %}
            <p class="text-center">Keeping a silent mind. For now.</p>
            {% endif %}
        </div>
    </div>
</div>