<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mircea Avram</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300, 400, 600" rel="stylesheet">

    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-sm navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link {{ page.home-marker}}" href="/">Home</a>
                    <a class="nav-item nav-link {{ page.notes-marker}}" href="/notes">Notes</a>
                    <a class="nav-item nav-link {{ page.about-marker}}" href="/about">About</a>
                </div>
            </div>
        </nav>

        {{ content }}

        <div class="container">
            <div class="row mt-5 mb-3">
                    <div class="col-md">
                        <footer>
                            <p class="text-center text-faded">
                                Shared under
                                <a class="text-faded no-hover-decoration" href="http://creativecommons.org/licenses/by/4.0/">CC by 4.0</a> ∙ 2018
                            </p>
                        </footer>
                    </div>
            </div>
        </div>
    </body>
</html>
