---
layout: default
---
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-8">
            <p class="display-5 mb-5"><a href="/notes">all</a> | {{ page.tag }}</p>
            <ul>
                {% if site.tags[page.tag] %}
                    {% for post in site.tags[page.tag] %}
                        <li>
                            <a href="{{ post.url }}/">{{ post.title }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    <p>There are no notes for this tag.</p>
                {% endif %}
            <ul>
        </div>
    </div>
</div>
