---
layout: default
---
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-lg-8 col-sm-12">
            <p class="h3 mb-5"><a href="/notes">all </a>{{ page.tag }}</p>
            {% if site.tags[page.tag] %}
                <ul>
                {% for post in site.tags[page.tag] %}
                    <li>
                        <a href="{{ post.url }}/">{{ post.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>There are no public notes for this tag.</p>
            {% endif %}
        </div>
    </div>
</div>
